:root{ /*set up variables to be used throughout the CSS*/
  --colour-darker: rgb(24, 34, 37);
  --colour-dark: rgb(23, 82, 105);
  --colour-light: rgb(44, 153, 193);
  --big-font: 3.5rem;
  --medium-font: 3rem;
  --small-font: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* header elements style*/
header{
  background-color: var(--colour-darker);
  display: flex;
  gap: var(--medium-font);
}

header h1{
  /* text attributes */
  font-weight: bold;
  color: var(--colour-darker);
  font-size: var(--big-font);
  /* container attributes */
  background-color: var(--colour-light);
  float: left;
  flex-grow: 0.1;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: var(--medium-font);
}

nav{
  flex: 5; /* in relation to parent flex */
  display: flex;
  align-self: stretch;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--small-font);
  padding: 1.5rem;
}

nav a{
  font-weight: bold;
  color: var(--colour-light);
  text-align: center;
  font-size: 1.2rem;
}

/* banner elements style*/
.hero-banner{
  /* container attributes */
  height: 35vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* content attributes */
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.hero-banner h2{
  margin: 3vh;
  padding: 1vh;
  float: right;
  color: var(--colour-darker);
  background-color: var(--colour-light);
}

/* main elements style*/

main {
  padding: 1vh;
  margin: 1vh;
}

.page-section {
  /* flexbox properties*/
  display: flex;
  flex-direction: row;
  gap: var(--small-font);
  align-items: center;
  justify-content: flex-start;
  /* container properties */
  padding: var(--small-font);
}

.page-section:before { /* adds responsive section separator */
  content: "";
  border: 0.3rem solid var(--colour-dark);
  background-color: var(--colour-dark);
  align-self: stretch;
}

/* sets proportion of title vs. content */
.section__item--title{
  padding-left: 5%;
  flex: 1;
  order: -1; /* reorder flex item to make separator appear between section items */
}

.section__item--content{
  flex: 4;
}

/* other */
main h2 {  
  /* padding: 1vh; */
  font-weight: bold;
  color: var(--colour-dark);
  text-align: right;
  font-size: var(--big-font);
}

.work {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#projects {
  display: grid;
  border: 1px;
  justify-content: space-around;
}

.projects{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.project {
  border-style: solid; border-color: deeppink; border: 2px;
}

article img {
  height: 50vh;
  width: 50vh;
}

#contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* adaptations for other sizes*/
@media only screen and (max-width: 400px) {
  
  header{
    align-items: center;
    flex-direction: column;
    gap: var(--small-font);
  }

  header h1{
    padding: 0;
  }

  nav{
    justify-content:space-between;
  }

  nav a{
    font-weight: normal;
    color: var(--colour-light);
    text-align: center;
    font-size: 0.8rem;
  }

  .page-section { /* divider */
      align-items: center;
      flex-direction: column;
  }

  #contacts {
    align-items: center;
    flex-direction: column;
  }
}
